<mat-sidenav-container>
    <mat-sidenav position="end" #sidenav mode="side">
        <app-toolbar></app-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-fab (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">arrow_back</mat-icon>
            <mat-icon *ngIf="sidenav.opened">arrow_forward</mat-icon>
        </button>
        <div class="canvas-container">
            <app-canvas></app-canvas>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
